@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*LANDING PAGE*/

.background-container {
    background-image: url("./images/pic1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background-container, h2, p {
    color: #06283D;
}

.bc-text {
    margin-right: 20rem;
}

.btn-join {
    width: fit-content;
}

.section-two {
    background-color: #DFF6FF;
}

.section-two img {
    width: 3rem;
    height: 3rem;
}

.section-three {
    background-color: #47B5FF;
}

.section-three img {
    width: 5rem;
    height: 5rem;
}

.section-three p {
    color: #DFF6FF;
}

.btn-find {
    width: fit-content;
}

/*LANDING PAGE*/

/*BROWSE PAGE*/

.search-header {
    box-shadow: 1px 1px 3px gray;
}

.sh-input {
    width: 50rem;
    height: 3rem;
    border: 1px solid #06283D;
    border-radius: 0.8rem;
}

/*BROWSE PAGE*/

/*PROFILE PAGE*/

.profile-section-one {
    width: 100%;
    height: 75vh;
    background-color: #47B5FF;
}

.profile-picture {
    width: 10rem;
    height: 10rem;
    border: 2px solid #DFF6FF;
}

.profile-email p {
    color: #DFF6FF;
}

.parkit-wallet-container {
    border-bottom: 1px solid lightgray;
}

.parkit-wallet p {
    color: #06283D;
}

.p-wallet {
    color: #47B5FF;
}

.p-amount {
    background-color: rgba(71, 181, 255, 0.5);
    width: 3.5rem;
    height: 1.5rem;
}

.p-balance p {
    color: gray;
}

.p-lists-container a {
    color: #06283D;
}




/*PROFILE PAGE*/
