body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: #06283D; /* Bootstrap secondary color */
}

.navbar img {
    margin-right: 10px;
}

.container-fluid {
    padding: 20px;
}

.sidebar {
    height: 100vh;
    width: 220px;
    position: fixed;
    top: 58px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 3px solid #06283D;
}

.sidebar ul {
    padding-left: 0;
    list-style: none;
}

.sidebar li {
    padding: 8px;
}

.sidebar a {
    text-decoration: none;
    color: #06283D;
}

.nav.flex-column .nav-link.active {
    background-color: #E8E8E8; 
    color: #06283D;
    border-radius: 15px; 
}

.nav.flex-column .nav-link:hover {
    background-color: #E8E8E8; 
    color: #06283D; 
    border-radius: 15px;
}


.dropdown-divider {
    border-top: 1px solid #ccc;
    margin: 8px 0;
}

#updatedTime, #raisedAmount {
    font-size: small;
    color: gray;
}